@mixin flex ($direction, $align, $justify){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin responsive($screenWidth) {
    @media(max-width: $screenWidth){
        @content;
    }
}